BOT_TOKEN=
BASE_URL=
DASHBOARD_ORIGIN=https://aniseek.web.app,https://aniseek.firebaseapp.com,https://aniseek-5e38b.web.app,https://aniseek-5e38b.firebaseapp.com,http://localhost:5176
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
